<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./Partials/head.ejs') %>
        <style>
            .card-body-scrollable {
                height: 20vh;
                /* Adjust as needed */
                overflow-y: auto;
            }
            .cardHeight{
                height: 100vh;
            }
        </style>
        <title>Document</title>
</head>

<body>
    <%- include('./Partials/nav.ejs') %>
        <h1>HOME PAGE!</h1>

        <div class="container mt-3 ">
            <div class="row row-cols-4 pt-3 pb-3">
                <% blogs.forEach(blog=> { %>
                    <div class="col pb-3 ">
                        <div class="card mt-3 mb-3 h-100 cardHeight">
                            <img src="/uploads/<%=blog.coverImageUrl%>" class="card-img-top">
                            <div class="card-body ">
                                <h5 class="card-title">
                                    <%=blog.title%>
                                </h5>
                                <p class="card-text card-body-scrollable">
                                    <%=blog.body%>
                                </p>
                            </div>
                            <div class="card-body">
                                <a href="/blog/<%= blog._id%>" class="btn btn-primary btn-sm">View</a>
                            </div>
                        </div>
                    </div>

                    <% }) %>
                </div>
        </div>



        <!-- <%= JSON.stringify(blogs) %> -->

        <%- include('./Partials/scripts.ejs') %>

</body>

</html>